.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
    background-color: #e7dddd;
    box-shadow: 11px 4px 30px rgb(194, 185, 185);

}

.filters {
  margin-bottom: 1.5rem;
}

.filterGroup {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.typeFilter {
  display: flex;
  gap: 0.5rem;
}

.typeButton {
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  background-color: #e1b2a7;
  cursor: pointer;
  color: #3c232d;
  transition: all 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}


.typeButton.active {

  color: white;
}

.dateFilter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dateInput {
  padding: 0.25rem 0.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
}

.scoreFilter {
  /* display: flex;
  align-items: center;
  gap: 0.5rem; */
}

.searchContainer {
  position: relative;
  margin-bottom: 1rem;
  gap: 1rem;
}

.searchIcon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: #94a3b8;
}

.searchInput {
  width: 100%;
  padding: 0.5rem;
  padding-right: 50px;
  /* padding: 0.5rem 1rem 0.5rem 2.5rem; */
  margin-left: 40px;
  border: 2px solid #e1b2a7;
  border-radius: 6px;
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tableHeader {
  background-color: #ae9898;
  text-align: center;
}

.tableHeader th {
  padding: 0.75rem;
  border: 1px solid #e2e8f0;
  cursor: pointer;
    border-radius: 5px;
}

.sortHeader {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.tableBody tr {
  transition: background-color 0.2s;
  border-radius: 5px;
}

.tableBody tr:hover {
  background-color: #f8fafc;
}

.tableBody td {
  padding: 0.75rem;
  border: 1px solid #e2e8f0;
  color: #3c232d;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.spinner {
  width: 2rem;
  height: 2rem;
  border: 2px solid #e2e8f0;
  border-bottom: 2px solid #e1b2a7;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loadMoreButton {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background-color: #e1b2a7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loadMoreButton:hover {
  background-color: #e1b2a7;
  color: black;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .filterGroup {
    flex-direction: column;
  }
  
  .table {
    display: block;
    overflow-x: auto;
  }
}